#messageParent{
    display: flex;
    height: 90vh;
    flex-flow:column;
    padding: 10px;
}
#messages{
    flex: 100%;
}
#messageInput{
    flex: 30%;
}

#eventBtn a{
    color: white !important;
}
#eventBtn {
    color: rgb(17, 17, 17) !important;
    font-weight: bold;
}
.customer-text{
    text-align: right;
}

