html, body {
    font-family: 'Recursive', sans-serif;
    background-color: rgba(238, 238, 238, 0.877);
    height: 100%;
}

.bold {
    font-weight: 800;
}

.light {
    font-weight: 300;
}

.bordered {
    border: 1px lightgray solid;
    border-radius: 2%;
}

#banner {
    background-image: url("/assets/farm-food.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin: 0 !important;
    min-height: 35%;
}
