html, body {
    font-family: 'Titillium Web', sans-serif;
    background: rgb(251,251,251);
    font-size: 1.0em;
    margin:0;
    padding:0;
}

.small-text {
    font-size: 0.8em;
}

.large-text {
    font-size: 1.2em;
}

hr:not([size]) {
    color:#0b8032;
    height: 2px;
}

.bordered {
    border: 1px lightgray solid;
}

/* Nav tab background and link color */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color:  rgba(28, 80, 50, 0.945);
    border: 2px solid rgba(145, 163, 145, 0.479);
    color: rgb(255, 255, 255) !important;
}
a{
    color:#212529f7 !important;
}

/* Edit Profile Img Section*/
.profileImgEditSection img{
    max-width: 250px;
}
.profileImgEditSection button{
    position: relative;
    top:-40px;
    left:70px;
    background-color: aliceblue;
    border-radius: 100%;
    border: 1px rgba(0, 0, 0, 0.301) solid;
}

/* link fades on hover */
a:hover {
    opacity: 0.9;
}

/* navbar items spacing */
.navbar-nav .btn-border {
    padding: 5px !important;
    margin-right: 10px;
    border: 2px solid rgba(68, 68, 68, 0.719);
    background-color: rgba(120, 126, 120, 0.37);
}

/* icons */
i{
    font-size: 1.1em;
}

